.container {
  height: calc(100% - var(--footer-heigth));
  width: 100vw;
  display: flex;
  padding-top: var(--header-heigth);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  color: var(--primary-color); 

  .content {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 15px;

    .title, .subtitle {
      align-self: flex-start;
      display: flex;
      padding: 20px 0;
      text-shadow: 2px 2px 2px #aaa;
    }

    .title {
      align-self: center;
    }

    p {
      text-align: justify;
      text-indent: 20px;
    }

    .email {
      align-self: flex-start;
      display: flex;
      flex-direction: column;

      a {
        padding-bottom: 5px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: flex-start;
      padding-left: 20px;
      list-style: symbols(cyclic "-");

      li {
        padding-bottom: 5px;
      }
    }

    .button {
      align-self: center;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max(5.2rem, 6.4vw);
      height: max(1.7rem, 2vw);
      font-size: max(0.9rem, 1.1vw);
      font-weight: bold;
      border-radius: max(0.8rem, 0.8vw);
      border: 1px solid var(--primary-color);
      cursor: pointer;
      background: var(--white-color);
      color: var(--font-color);

      &:hover {
        opacity: .82;
      }
    }
  }
}
