.container {
  height: calc(100% - var(--footer-heigth));
  padding-top: var(--header-heigth);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  overflow-y: hidden;
  color: var(--primary-color);

  .content {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0;

      .name {
        text-decoration: underline;
      }
    }

    .info {
      align-self: flex-start;
      margin: 0 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;

      .text {
        text-align: justify;
        text-indent: 20px;
        font-size: max(0.74rem, 1.3vw);
      }
    }

    .checklist {
      height: auto;
      overflow-y: auto;
      list-style: none;
      padding: 15px;
      padding-top: 20px;
      width: min(1250px, 95%);
    }

    .listitem {
      margin-left: min(20px, 1vw);
      margin-bottom: min(50px, 5vw);

      .checkbox {
        display: inline-block;
        vertical-align: middle;
      }
      .checkbox input {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
      }

      .checkbox label {
        position: relative;
        padding-left: 2.2em;
        display: inline-block;
        font-size: min(1.6rem, 3.6vw);
        z-index: 0;
      }
      .checkbox label::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1.5em;
        width: 1.5em;
        background: #fff;
        margin-right: 0.5em;
        border: 1px solid #ccc;
        border-radius: 50%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
      .checkbox label::after {
        content: '\2713';
        position: absolute;
        top: 50%;
        left: 0.75em;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: #fff;
        opacity: 0;
        transition: all 0.2s ease;
      }
      .checkbox label:focus::before,
      .checkbox label:hover::before {
        background: #ddd;
      }
      .checkbox input:checked + label::before {
        background: var(--primary-color);
        border-color: var(--primary-color);
      }
      .checkbox input:checked + label::after {
        opacity: 1;
      }
    }

    .buttons {
      display: flex;
      flex: 1;
      width: 100%;
      max-width: 680px;
      justify-content: space-evenly;
      align-items: flex-start;
      margin-top: 0.8rem;

      .noLink {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max(5.2rem, 6.4vw);
        height: max(1.7rem, 2vw);
        font-size: max(0.9rem, 1.1vw);
        font-weight: bold;
        border-radius: max(0.8rem, 0.8vw);
        border: 1px solid;
        background: #aaa;
        color: #fff;
        border-color: #888;
      }
    }
  }
}
/******* LOADING *******/
.loaderContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.loader {
  border: 6px solid var(--gray-color);
  border-top: 6px solid var(--primary-color); 
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/****** LOGIN MODAL ******/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.modalContainer {
  position: relative;
  padding: 15px 30px;
  width: 70%;
  max-width: 370px;
  background-color: #f7f7f7;
  margin: 0 auto;
  border: 1px var(--primary-color) solid;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.modalContainer h6 {
  text-align: center;
  margin-bottom: 10px;
}

.username,
.password {
  height: 36px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
}

.modalContainer .username:hover,
.password:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.modalButton {
  width: 100%;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);
  padding: 13px 0px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
}

.modalButton:hover {
  border: 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: var(--final-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .container {
    width: 100vh;
  }
}
