.container {
  height: calc(100% - var(--footer-heigth));
  padding-top: var(--header-heigth);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  overflow-y: hidden;
  color: var(--primary-color); 

  .content {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      display: flex;
      justify-content: center;
      align-items: center;

      .definition {
        padding-bottom: 10px;
        text-align: center;
        display: flex;
        align-items: center;

        i {
          margin-left: 10px;
          padding-top: 6px;
          font-size: min(1.4rem, 3.3vw);
          color: #777;
          opacity: .4;
          text-shadow: none;
        }
      }
    }

    .info {
      align-self: flex-start;
      margin: 0 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;

      .definition {
        text-align: justify;
        font-size: max(0.94rem, 1.6vw);
        margin-bottom: 20px;
      }

      .text {
        text-align: justify;
        text-indent: 20px;
        font-size: max(0.74rem, 1.3vw);
      }
    }

    .checklist {
      height: 80%;
      overflow-y: auto;
      list-style: none;
      padding: 15px;
      border: 1.1vw solid #eee;
      border-radius: 20px;
      width: min(1250px, 95%);
    }

    .listitem {
      margin-left: min(20px, 1vw);
      margin-bottom: min(30px, 3vw);
    }

    .buttons {
      display: flex;
      width: 100%;
      max-width: 680px;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 0.8rem;
    }
  }
}




