.container {
  height: calc(100vh - var(--footer-heigth));
  width: 100vw;
  display: flex;
  padding-top: var(--header-heigth);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  color: var(--primary-color); 

  .content {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 0.6rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
    }

    .list {
      list-style: none;
      margin-top: 10px;
      padding: 15px;
      width: min(1250px, 95%);
      overflow-y: auto;
    }

    .listitem {
      margin-bottom: min(50px, 3vw);
      font-size: min(1.4rem, 3.3vw);
      text-align: center;
      padding: 0px 20px min(5px, 0.5vw);
      border-bottom: 2px solid var(--primary-color);
      border-radius: 10px;
      text-shadow: 2px 2px 2px #bbb;

      i {
        color: #777;
        opacity: .4;
        text-shadow: none;
      }

      .symptoms {
        justify-content: center;
        border-radius: 20px;
        padding: 5px;
        background-color: #efefef;
        
        .symptom {
          margin-right: 5px;
          font-size: min(1.1rem, 2.9vw);
          text-shadow: none;
          padding: 3px;
        }
      }
    }
  }
}
