:root {
  --primary-color: #E31722;
  --secundary-color: #C1090A;
  --red-gradient: linear-gradient(180deg, #D8322E 0%, #ce0c16 62.66%, #C1090A 100%);
  --white-color: #fff;
  --gray-color: #aaa;
  --font-logo: 'Cinzel';
  --std-font: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: var(--white-color);
  font-family: var(--std-font);
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  width: 100vw;
}

html, body {
  font-size: 12px;
}
