.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--final-color);
  height: var(--footer-heigth);
  color: var(--white-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  

  .copyrigth {
    font-size: min(0.8rem, 3vw);
    color: var(--white-color);
    margin-right: 10px;
  }

  .dev {
    font-size: min(0.8rem, 3vw);
    color: var(--white-color);
  }
}
